@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
/*================ Global ==================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 95rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  width: 100%;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  color: whitesmoke;
  padding: 0 1rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background: url("../images/icons/apple.svg") no-repeat center;
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background: url("../images/icons/search.svg") no-repeat center;
}

.nav-link-bag {
  width: 1.4rem;
  height: 4.4rem;
  background: url("../images/icons/bag.svg") no-repeat center;
}

section {
  margin: 0;
}

.hero {
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #fff;
  border-bottom: 0.6rem solid #fff;
}

.title {
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -0.005rem;
}

.title-heading-dark {
  color: #000;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
}

.title-sub-heading-dark {
  color: #000;
}

.title-price {
  font-size: 1.7rem;
  color: #888;
  margin-top: 0.68rem;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.cta-link:hover {
  border-bottom: 2px solid #66bbff;
}

.cta-link-darker {
  color: #0070c9;
}

.cta-link-darker:hover {
  border-bottom: 2px solid #0070c9;
}

/*================ iPhone 11 Pro ==================*/
.iphone-11-pro {
  background: url("../images/hero/iphone-11-pro/iphone_11_pro_large.jpg") no-repeat center;
  margin-top: 4.4rem;
  border-top: none;
}

/*================ iPhone 11 ==================*/
.iphone-11 {
  background: url("../images/hero/iphone-11/iphone_11_large.jpg") no-repeat center;
  margin-top: 1.4rem;
  border-top: none;
}

/*================ Watch ==================*/
.watch {
  background: url("../images/hero/watch/watch_large.jpg") no-repeat center;
  margin-top: 1.4rem;
  border-top: none;
}

.title-heading-watch {
  height: 7.8rem;
  background: url("../images/hero/watch/logo_watch_large.png") center no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.65rem;
  margin-bottom: 1.65rem;
}

/*================ Split ==================*/
.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 1.2rem;
}

.watch-studio img {
  width: 100%;
  max-width: 70%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.arcade {
  background: url("../images/apple-tv-arcade-1.jpg") no-repeat center;
  height: 400px;
}

/*================ Media Queries ==================*/
footer {
  background-color: #f5f5f7;
  margin-top: 1.4rem;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #86868b;
  line-height: 1.33337;
}

footer ol {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

footer ol li {
  margin: 0.6rem 0;
}

footer ol p {
  margin: 1.2rem 0;
}

.sitemap {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sitemap h5 {
  color: #000;
  font-size: 1.25rem;
  margin: 10px 0;
}

.sitemap li {
  list-style: none;
}

.sitemap li a {
  color: #86868b;
  -webkit-transition: all 0.365s ease-in-out;
  transition: all 0.365s ease-in-out;
}

.sitemap li a:hover {
  margin-left: 0.12rem;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0 1.2rem 0;
  padding: 1.2rem 0;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright ul li {
  list-style: none;
  margin: 0 1.2rem;
  border-right: 1px solid #c5c5c97a;
  padding: 0 1.2rem;
}

.copyright ul li:nth-child(5) {
  border-right: none;
}

.copyright ul li a {
  color: #86868b;
  -webkit-transition: all 0.356s ease-in-out;
  transition: all 0.356s ease-in-out;
}

.copyright ul li a:hover {
  letter-spacing: 0.01rem;
}

/*================ Media Queries ==================*/
@media screen and (max-width: 1068px) {
  .hero {
    height: 65rem;
    background-size: auto 69.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .iphone-11-pro {
    background: url("../images/hero/iphone-11-pro/iphone_11_pro_medium.jpg") no-repeat center;
  }
  .iphone-11 {
    background: url(../images/hero/iphone-11/iphone_11_medium.jpg) no-repeat center;
  }
  .watch {
    background: url("../images/hero/watch/watch_medium.jpg") no-repeat center;
  }
  .title-heading {
    font-size: 4.4rem;
  }
  .title-sub-heading {
    font-size: 2.4rem;
  }
  .title-price {
    font-size: 1.4rem;
  }
  .title-heading-watch {
    height: 6.2rem;
    background: url("../images/hero/watch/logo_watch_medium.png") no-repeat center;
    margin-bottom: 1.2rem;
  }
  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.8rem;
    -webkit-transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }
  header .container {
    padding: 0;
  }
  .iphone-11-pro {
    margin-top: 4.8rem;
  }
  .nav-list {
    margin-top: 0;
  }
  .nav-list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-item-hidden {
    display: none;
  }
  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #fff;
    -webkit-transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .line-top {
    margin-top: 3px;
  }
  .line-bottom {
    margin-top: -0.4rem;
  }
  .active .line-top {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  header.active {
    height: 100%;
    background-color: #000;
  }
  .nav-link-apple {
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }
  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  .nav {
    position: relative;
  }
  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }
  .nav-list-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .active .nav-list-desktop {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  .active .nav-link-bag {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .nav-list-desktop .nav-item {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.2rem 0 0 0;
  }
  .nav-list-desktop .nav-item:nth-child(9) {
    border-bottom: none;
  }
  .active .nav-list-desktop .nav-item {
    -webkit-animation: fadeIn 1s ease-in-out;
            animation: fadeIn 1s ease-in-out;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 730px) {
  .hero {
    height: 50rem;
    background-size: auto 54.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .iphone-11-pro {
    background: url("../images/hero/iphone-11-pro/iphone_11_pro_small.jpg") no-repeat center;
  }
  .iphone-11 {
    background: url(../images/hero/iphone-11/iphone_11_small.jpg) no-repeat center;
  }
  .watch {
    background: url("../images/hero/watch/watch_small.jpg") no-repeat center;
  }
  .title {
    padding: 3.7rem;
  }
  .title-heading {
    font-size: 3.2rem;
  }
  .title-sub-heading {
    font-size: 1.9rem;
  }
  .title-heading-watch {
    margin-top: -0.5rem;
    margin-bottom: 0;
  }
  .title-price {
    font-size: 1.2rem;
  }
  .cta {
    margin-top: 0.7rem;
  }
  .cta-link {
    font-size: 1.9rem;
  }
  .sitemap, .contact-details, .copyright, .copyright ul {
    display: block;
  }
  .copyright ul {
    margin: 1.2rem 0;
  }
  .copyright ul li {
    margin: 1.2rem 0;
    border-right: none;
  }
}
